@charset "utf-8";
.background	{
	width: auto;
	height: auto;
}

.text	{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: medium;
	line-height: normal;
	text-align: center;
}

.heading	{
	color: #51B983;
	margin-right: 400px;
	margin-left: 400px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
h1 {text-align: center;
	color: #51B983;
	margin-right: 400px;
	margin-left: 400px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	border-style: dotted }