@charset "utf-8";
/* CSS Document */
body {
		margin: inherit;
		}
ul {
	list-style-type: none;
	margin: inherit;
	padding: inherit;
	width: 15%;
	background-color: #FF7600;
	position: fixed;
	height: 100%;
	overflow: auto;
	color: #51B983;
	}
		
li a {
	display: block;
	color: #FFFFFF;
	padding: 8px 16px;
	text-decoration: none;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: large;
	line-height: normal;
	text-align: center;
		}

li a.active {
 background-color: #51B983;
 color: white;
		}
		
li a:hover:not(.active) {
	background-color: #51B983;
	color: white;
		}
