@charset "utf-8";
/* CSS Document */

h1 {text-align: center;
	color: #51B983;
	margin-right: 400px;
	margin-left: 400px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;}